{% extends "layout.html" %}
{% block title %}
About us
{% endblock %}
{% block body %}
<div id="index">
  <div class="index_nav">
      <p><b>Bacak</b></p>
  </div>
  <!-- using the styling of greet from index.html -->
  <h2 id="greet">About the developer and WebApp</h2>
  <div id="about_cont">
    <p class="about_para">Hi! <b>Akshay</b> this side, the developer of this WebApp. Before studying 
    Computer science, I had a degree in Accounting and finance and 
    worked as a branch accountant for 1 and a half year. As a branch accountant, my
    work there was to manually update the outstanding, cash and expense book which was 9 hours of work
    daily.</p>
    <br>
    <p class="about_para">This WebApp was made as an attempt <u>to automate that accounting work</u> and reduce the work time to less 
    than an half hour. The app is specifically made for doing the accounting work as per my 
    experience as a branch accountant and as of now it is not very dynamic in functioning.</p>
  </div>
  <footer id="index_footer">
    <a href="/index">Previous page</a>
  </footer>
</div>  
{% endblock %}