{% extends "layout.html" %}
{% block title %}Homepage{% endblock %}
{% block body %}
<div id="index">
  <div class="index_nav">
      <p><b>Bacak</b></p>
      <div id="profile"><b>Logged in as {{ user }}</b></div>
  </div>
  <h2 id="index_greet">Homepage</h2>
  <div id="content">
    <a href="/makeEntry">Edit accounts</a>
    <a href="/viewAC">View accounts</a>
  </div>
  <div id="content">
    <a href="/makeAccount">Make accounts</a>
  </div>
  <footer id="index_footer">
    <a id="index_about" href="/about">About</a>
    <a id="index_how_to_use" href="/howToUse">How to use</a>
  </footer>
</div>  
{% endblock %}