{% extends "layout.html" %}
{% block title %}Cash entry{% endblock %}
{% block body %}
<div id="index">
  <div class="index_nav">
      <p><b>Bacak</b></p>
  </div>
  <!-- using the styling of greet from index.html -->
  <h2 id="greet">Updating cash account</h2>
  <div id="entry_container">
    <div id="message">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
              <h3>{{ message }}</h3>
            {% endfor %}
        {% endif %}
      {% endwith %}
    </div>
    <form action="/updateCashAc" method="POST" id="os_form">
        <label for="from">
          From: <input type="text" name="from" id="from" placeholder="From" required maxlength="20">
        </label>
        <label for="os_amt">
          Amount: <input type="number" name="amount" id="os_amt" placeholder="Amount taken" required>
        </label>
        <label for="description">
          Description: <input type="text" name="description" id="description" placeholder="Description" required maxlength="20">
        </label>
        <button type="submit" class="btn btn-primary" style="display: block; margin: auto;">Commit entry</button>
    </form>
  </div>
  <footer id="index_footer">
    <a id="index_about" href="/index">Homepage</a>
  </footer>
</div>  
{% endblock %}
{% block script %}
<script>
</script>
{% endblock %}